.input-group {
  padding: 0px 20px;
  border: 4px solid darkblue;
  border-radius: 30px;
  height: fit-content;
}

.form-control-custom {
  border: none;
  border-radius: 30px;
  padding: 7px;
  transition: none;
  flex: 1 1 auto;
}

.form-control-custom:focus {outline:none;}

.searchbox-btn-custom {
  color: darkblue;
  padding: 0;
}

#cross-button {
    padding-left: 10px;
}

.suggestions-dropdown {
  position: relative;
  z-index: 1000;
  max-height: 230px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 5px 0;
}

.suggestions-dropdown div {
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.suggestions-dropdown div:hover {
  background-color: #f0f0f0;
}

p {
  margin: 0;
}

 .btn-custom {
  margin-top: 5px;
  margin-right: 5px;
}

.menu-item {
  display: block;
  padding: 10px 15px;
  color: grey;
  text-decoration: none;
  white-space: nowrap;
}

.menu-item:hover{
  background-color: lightgrey;
}

.menu-item.active {
  color: darkblue;
  border-bottom: 3px solid darkblue;
}

.menu-item-custom {
  padding: 1rem 5rem;
  margin: auto;
}

